@import '~/src/scss/index.scss';
 
.auth {
    font-family: 'Acciona', sans-serif !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-primary;
    
    padding-top: 100px;
    &:before{
        content: '';
        display: block;
        height: auto;
        position: absolute;
        top: 500px;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('../../assets/bglines.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        z-index: 1;
    }
    // &:after {
    //     content: '';
    //     display: block;
    //     height: auto;
    //     position: absolute;
    //     top: 1295px;
    //     bottom: 0;
    //     left: 25px;
    //     right: 0;
    //     background-image: url('../../assets/bg-bottom.jpg');
    //     background-size: 100%;
    //     background-repeat: repeat-y;
    //     background-position: top center;
    //     z-index: 1;
    // }
    .logo{
        width: 200px;
        margin-bottom: 30px;

    }
    &__forms {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        margin: 0px 20px;
        z-index: 2;

        .ui.segment {
            background-color: $background-primary;
            border: 1px solid $border-primary;
        }
        .ui.tabular.menu {
            border-radius: 0;
            box-shadow: none!important;
            border: none;
            background: none transparent;
            border-bottom: 1px solid $border-primary;
        }
        .ui.tabular.menu .active.item {
            background: none #fff;
            color: rgba(0,0,0,.95);
            border-top-width: 1px;
            border-color: $border-primary;
            font-weight: 700;
            margin-bottom: -1px;
            box-shadow: none;
            border-radius: 0.28571429rem 0.28571429rem 0 0!important;
        }
        .ui.menu {
            line-height:1;
            .item {
                width: 50%;
                justify-content: center;
                background-color: $background-primary !important;
                background-size: contain;
                border-radius: 0px !important;
                border-top: 1px solid $border-primary !important;
                font-size: 18px;

                &.active {
                    font-weight: normal;
                    border-radius: 0px !important;
                    border-top: 3px solid $border-primary !important;
                }
            }
        }
        .ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
            font-family: 'Acciona', sans-serif;
            margin: 0;
            outline: 0;
            -webkit-appearance: none;
            tap-highlight-color: rgba(255,255,255,0);
            line-height: 1.21428571em;
            padding: 0.67857143em 1em;
            font-size: 1em;
            background-color: $background-primary ;
            border: 1px solid $border-primary;
            color: rgba(0,0,0,.87);
            border-radius: 0.28571429rem;
            box-shadow: 0 0 0 0 transparent inset;
            transition: color .1s ease,border-color .1s ease;
        }
        .ui.checkbox .box:before, .ui.checkbox label:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 17px;
            height: 17px;
            content: '';
            background: $background-primary !important;
            background-color: $background-primary !important;
            border-radius: 0.21428571rem;
            transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
            border: 1px solid $border-primary;
        }
        .ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before {
            background-color: $background-primary !important;
            border-color: $border-primary !important;
        }
        .ui.checkbox input:checked:focus~.box:before, .ui.checkbox input:checked:focus~label:before, .ui.checkbox input:not([type=radio]):indeterminate:focus~.box:before, .ui.checkbox input:not([type=radio]):indeterminate:focus~label:before {
            background-color: $background-primary !important;
            border-color: $border-primary !important;
        }
        .ui.checkbox input:focus~.box:before, .ui.checkbox input:focus~label:before {
            background-color: $background-primary !important;
            border-color: $border-primary !important;    
        }
    }
    @media (max-width: 500px) {
        &__forms {
            width: 100%;
            max-width: 320px;
        }
    }
}
