
$primary: #B59971;
$primary-hover: #fff;

$text-primary: #fff;
$text-secondary: #575757;
$text-gold: #B59971;
$text-light: rgba(255,255,255,0.5);

$border-primary: #B59971;
$border-secondary: #fff;
$border-tertiary: #575757;
$border-gold: #B59971;

$separator-primary: #DF040B;
$separator-secondary: #fff;
$separator-tertiary: #575757;

$button-Bg-primary: #B59971;
$button-text-primary: #fff;
$button-Bg-secondary: #fff;
$button-text-secondary: #B59971;

$background-primary: #F2F2F2;
$background-secondary: #1d1d1d;
$background-tertiary: #fff;
$background-tertiary-light: rgba(255,255,255,0.2);
$background-quaternary: #3d3d3d;
$background-quaternary__blur: rgba(61, 61, 61, .05);
$background-gold:#B59971;
$background-light-gold:rgba(181, 153, 113, .3);

$success: #69af00;
$danger: #ff0a4e;
$error: #ff0a4e;