$primary: #B59971;
$primary-hover: #fff;

$text-primary: #fff;
$text-secondary: #575757;
$text-gold: #B59971;

$border-primary: #fff;
$border-secondary: #575757;
$border-gold: #B59971;

$separator: #DF040B;
$separator-gold: #B59971;

$button-Bg-primary: #B59971;
$button-text-primary: #fff;
$button-Bg-secondary: #fff;
$button-text-secondary: #B59971;

$background-primary: #272727;
$background-secondary: #1d1d1d;
$background-tertiary: #101010;
$background-quaternary: #3d3d3d;
$background-quaternary__blur: #3d3d3d10;

$success: #69af00;
$danger: #ff0a4e;